<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Eliminazione Buffet</title>
	<link rel="stylesheet" href="/css/buffet/cancellaBuffet.css" />
</head>
<body>
	<div id="intestazione">
		<h1>Confermi l'Eliminazione?</h1>
	</div>
	
	<div id="riferimenti">
		<div class="link">
			<a th:href="@{'/admin/confermaCancellazioneBuffet/' + ${buffet.id}}">Conferma</a>
		</div>
		
		<div class="link">
			<a th:href="@{/admin/elencoBuffet}">Torna all'elenco dei Buffet</a>
		</div>	
	</div>
	
	<footer>
    	<div>Realizzato da Riccardo De Cesaris - Matricola: 547762</div>
    	<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
    </footer>
</body>
</html>